@model HomeModel

@{
    ViewData["Title"] = "Sandwhich Tracker Home Page";
}

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <h3>Error Message</h3>
    <pre>
        @Model.ErrorMessage
    </pre>
}

<h3>User Info</h3>


<table class="headers">
    <thead>
        <tr>
            <th>Name</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>User.Identity is nonnull</td>
            <td>@(User.Identity is object)</td>
        </tr>
        @if (User.Identity is object)
        {
            <tr>
                <td>User.Identity.IsAuthenticated</td>
                <td>@User.Identity.IsAuthenticated</td>
            </tr>
            <tr>
                <td>User.Identity.AuthenticationType</td>
                <td>@User.Identity.AuthenticationType</td>
            </tr>
            <tr>
                <td>User.Identity.Name</td>
                <td>@User.Identity.Name</td>
            </tr>
        }
    </tbody>
</table>

@if (Model.JwtPayload is object)
{
    <h3>JWT Payload</h3>

    <table class="headers">
    <thead>
        <tr>
            <th>Name</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var aud in Model.JwtPayload.AudienceAsList)
            {
                <tr>
                    <td>Audience</td>
                    <td>@aud</td>
                </tr>
            }
            <tr>
                <td>Issuer</td>
                <td>@Model.JwtPayload.Issuer</td>
            </tr>
            <tr>
                <td>Subject</td>
                <td>@Model.JwtPayload.Subject</td>
            </tr>
            <tr>
                <td>JwtId</td>
                <td>@Model.JwtPayload.JwtId</td>
            </tr>
            <tr>
                <td>Nonce</td>
                <td>@Model.JwtPayload.Nonce</td>
            </tr>
            <tr>
                <td>Type</td>
                <td>@Model.JwtPayload.Type</td>
            </tr>
            @if (Model.JwtPayload.IssuedAtTimeSeconds.HasValue)
            {
                <tr>
                    <td>Issued At</td>
                    <td>@DateTime.UnixEpoch.AddSeconds(Model.JwtPayload.IssuedAtTimeSeconds.Value)</td>
                </tr>
            }
            @if (Model.JwtPayload.NotBeforeTimeSeconds.HasValue)
            {
                <tr>
                    <td>Not Before</td>
                    <td>@DateTime.UnixEpoch.AddSeconds(Model.JwtPayload.NotBeforeTimeSeconds.Value)</td>
                </tr>
            }
            @if (Model.JwtPayload.ExpirationTimeSeconds.HasValue)
            {
                <tr>
                    <td>Expiration</td>
                    <td>@DateTime.UnixEpoch.AddSeconds(Model.JwtPayload.ExpirationTimeSeconds.Value)</td>
                </tr>
            }
        </tbody>
    </table>


}

<h3>Headers</h3>

<table class="headers">
    <thead>
        <tr>
            <th>Name</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var kvp in Model.Headers)
        {
            <tr>
                <td>@kvp.Key</td>
                <td>@kvp.Value</td>
            </tr>
        }
    </tbody>
</table>
